html, body {
  height: 100%;
  width: 100%;
}

#main {
  width: 75%;
  margin: 40px auto;
}

.lg-ttl {
  font-size: 30px;
}

.sm-ttl {
  font-size: 20px;
}

#c {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}